.event {
  position: absolute;
  padding: 0 0.2rem;
  width: 92%;
  height: 1.9rem;
  border-radius: 3px;
  text-align: left;
}

.event .event-name,
.event .event-time {
  font-size: 0.7rem;
  font-weight: 300;
  color: white;
  -webkit-user-select: none;
}

.event .event-name {
  font-weight: 400;
}

.event.scheduled {
  z-index: 1;
  cursor: pointer;
}

.event.l0 { background-color: #0e61b9; }
.event.l3 { background-color: #F6BF26; }
.event.l10 { background-color: #D50000; }

.event.between {
  height: 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.event.between-first {
  height: 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.event.between-last {
  height: 1.9rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hour-wrapper.between:last-child .hour {
  height: 1.9rem;
}

.hour-wrapper .between:last-child .event {
  height: 1.9rem;
}
