.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

.header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid lightgray;
}

.week-overview {
  display: inline-flex;
  padding: 1rem;
  min-width: 49rem;
  width: 100%;
  height: 100%;
}

.day {
  outline: 1px solid lightgray;
  position: relative;
  min-width: 7rem;
  width: 100%;
}

.hour {
  outline: 1px solid lightgray;
  position: relative;
  width: 100%;
  height: 2rem;
}

.create-event-popup {
  z-index: 1;
  position: absolute;
  right: 12rem;
  width: 16rem;
  height: 8rem;
  background: white;
  border: 1px solid black;
}

.create-event-popup.popup-top {
  top: -6rem;
}

.create-event-popup.popup-right {
  right: -17rem;
}

.day-label {
  position: absolute;
  min-width: 7rem;
  width: 100%;
  font-size: 0.75rem;
  color: gray;
  outline: 1px solid white;
}

.hour-label {
  padding: 0 0.75rem;
  height: 2rem;
  line-height: 4rem;
  font-size: 0.75rem;
  color: gray;
}

.hour.ts1 { height: 2rem; }
.hour.ts2 { height: 4rem; }
.hour.ts3 { height: 6rem; }
.hour.ts4 { height: 8rem; }
.hour.ts5 { height: 10rem; }
.hour.ts6 { height: 12rem; }
.hour.ts7 { height: 14rem; }
.hour.ts8 { height: 16rem; }
.hour.ts9 { height: 18rem; }
.hour.ts10 { height: 20rem; }
.hour.ts11 { height: 22rem; }
.hour.ts12 { height: 24rem; }
.hour.ts13 { height: 26rem; }
.hour.ts14 { height: 28rem; }
.hour.ts15 { height: 30rem; }


.hour.l0 { background-color: #0e61b9; }
.hour.l3 { background-color: #F6BF26; }
.hour.l10 { background-color: #D50000; }

.hour.is-active {
  background-color: #0e61b9;
}
